<h2>CELEBRITIES LIST</h2>

{{#if celebrities}}
        {{#each celebrities}}
        <ul>
            <li>Name: {{name}}</li>
            <li>Occupation: {{occupation}}</li>
            <li>Catch phrase: <em>{{catchPhrase}}</em></li>
        </ul>
        {{/each}}
{{/if}}