<h2>Add a celebrity to the show!</h2>

<form action="/celebrities/create" method="POST">
    <label for="name" class="label">Name</label><input type="text" class="input" name="name" id="title">
    <label for="occupation" class="label">Occupation</label><input type="text" class="input" name="occupation" id="occupation">
    <label for="catchPhrase" class="label">Catch phrase</label><input type="text" class="input" name="catchPhrase" id="catchPhrase">
    <button class="btn">Create</button>
</form>