body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.btn {
  width: fit-content;
  height: 32px;
  background-color: dodgerblue;
  color: white;
}
